<div class="container">
  <div class="row text-center">
    <div class="col-sm-4" *ngFor="let photo of photos; let i = index;">
      <div class="card" style="width:350px">
        <img class="card-img-top" [src]="photo.thumbnailUrl" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{trimName(photo.title)}}</h4>
          <p class="card-text">{{photo.id}}</p>
          <p class="card-text">{{photo.url}}</p>
          <button id="btn-{{photo.id}}" type="button" class="btn btn-primary" (click)="updateTable(photo)">Compare</button>
        </div>
      </div>
    </div>

    <table class="table table-bordered mt-5">
      <thead>
        <tr><th colspan="4">COMPARISION TABLE</th></tr>
        <tr>
          <th>IMAGE</th>
          <th>ID</th>
          <th>URL</th>
          <th>TITLE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let photo of selectedPhotos; let i = index;">
          <td><img class="card-img-top table-img" [src]="photo.thumbnailUrl" alt="Card image"></td>
          <td>{{photo.id}}</td>
          <td>{{photo.url}}</td>
          <td>{{photo.title}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>